<p>
  <strong>Schedule Group:</strong>
  <%= @event.ScheduleGroup %><br>
  <strong>Candidate:</strong>
  <%= @event.Person %><br>
  <strong>Date:</strong>
  <%= @event.EventDate %><br>
  <strong>Time:</strong>
  <% if @event.EventTime.to_s[11] == "0" %>
  <%= @event.EventTime.to_s[12..18]%>
  <% else %>
  <%= @event.EventTime.to_s[11..18]%>
  <% end %>
  <strong>Description:</strong>
  <%= @event.EventDate %><br>
  <% link_to 'Home', events_path %>
</p>



<p>
  <strong>Time Full:</strong>
  <%= @event.EventTime %>
</p>

-->